.tag-inner {
  .toolbar-status {
    .select-list {
      min-width: inherit;
      width: 100px;
    }
  }

 .no-data {
   align-items: center;
   display: flex;
   justify-content: center;
 }

 .tag-message {
   margin-top: 5px;
   color: red;
   font-style: italic;
 }
}