.quill-editor {
  background-color: $THEME-quill-editor-bg;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  p {
    font-size: 11px;
  }

  .ql-fill {
    fill: $THEME-quill-tooltips;
  }

  .ql-stroke {
    stroke: $THEME-quill-tooltips;
  }

  .ql-blank {
    &:before {
      color: $THEME-quill-blank;
    }
  }

  .ql-expanded {
    .ql-picker-options {
      background-color: $THEME-quill-picker;
    }
  }
}

.ql-toolbar {
  background-color: $THEME-quill-toolbar-bg;
  border-bottom: 0 !important;

  order: 2;

  &.ql-snow {
    border: 1px solid $THEME-quill-toolbar-border;
  }
}

.ql-container {
  background-color: $THEME-quill-container-bg;

  &.ql-snow {
    $THEME-border: #3c3c3c;

    border: solid 1px $THEME-quill-container-border !important;
  }
}

.ql-editor {
  color:  $THEME-quill-editor-text;
  // height: auto;
  // 
  min-height: 200px;
  padding: 8px;

  .is-title & {
    height: auto;
    min-height: auto;
  }

  .is-description & {
    height: auto;
    min-height: 110px;
  }

  &.ql-blank {
    &::before {
      font-size: 11px;
      left: 8px;
      right: 8px;
    }
  }
}

.ql-align-center {
  text-align: center;
}

.ql-snow .ql-picker.ql-size .ql-picker-item::before,
.ql-snow .ql-picker.ql-size .ql-picker-label.ql-active::before {
  content: attr(data-value);
}
